.contanar{
    margin: auto;
    width: 600px;
    height: 300px;
    
    margin-top: 100px;
    text-align: center;
    padding-top: 200px;
    opacity: 0.8;

}
body{
    background-image: url(laptop.jpg);
background-repeat: no-repeat;
background-size: cover;
         
}
.leble{
    font-size: 30px;
    font-weight: bolder;
}
.in input{

        height: 21px;
        width: 230px;
       
}
.in input:hover{
    box-shadow: -6px 4px 11px 7px deepskyblue;
}
.in button{
    

    border: 1px solid blue;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;

}
.in button:hover{
                        background-color: blue;
                        color: white;
}